<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<div id = "calendar">
    <h2>Calendar</h2>
    <month-select :month="obj.strmonth" @month_plus = "month_plus" @month_minus = "month_minus"></month-select>
    <calendar-table :listday="listday"></calendar-table>
</div>
<script src="config.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<body>
    <style>
        .day-off {
            color: red;
        }
        .alien-day {
            color: #bdbdbd;
        }
        .month_item {
          width: 100px;
          text-align: center;
          display: inline-block;
        }
        .calendar_first_item {
          width: 90px;
          display: inline-block;
          border-bottom-color: darkgoldenrod;
          border-bottom: 1px solid;
          margin: 2px 2px;  
        }
        .calendar_item {
          width: 25px;
          display: inline-block;
          text-align: center;
          border-right-color: brown;
          border-right: 1px solid;
          border-bottom-color: darkgoldenrod;
          border-bottom: 1px solid;
          margin: 2px 2px;
        }
    </style>
    <script>
        Vue.config.devtools  = true;
        Vue.component("month-select", {
            props: ['month'],
            template: `<div>
                <button @click = "minus_btn()"><</button>
                <span class="month_item">{{month}}</span>
                <button @click = "plus_btn()">></button>
            </div>`,
            methods: {
                plus_btn: function(){
                    this.$emit('month_plus');
                },
                minus_btn: function(){
                    this.$emit('month_minus');
                }
            }
        });
        
        Vue.component("calendar-first-item", {
            props: ['val', 'index'],
            template: `<span class="calendar_first_item"> {{val}}</span>`
        });
        
        Vue.component("calendar-item", {
            props: ['val', 'index', 'day_off', 'alien_day'],
            template: `<span class="calendar_item" :class="{'alien-day': alien_day, 'day-off': day_off}" @click = "test_btn()"> {{val.name}}</span>`,
            methods: {
                test_btn: function(){
                        ;
                }
            }
        });
        
        Vue.component("calendar-table", {
            props: {
                listday: Object
            },
            template: `<div style="background: #fdf5dd; display: inline-block;">
                <div v-for="(item, index) in listday">
                    <calendar-first-item :val="index" :item="item"></calendar-first-item>
                    <calendar-item v-for="(item1, index1) in item" :index="index1" :val="item1" :alien_day = "alienday(item1.stat)" :day_off = "eeekend(item1.stat)"></calendar-item>
                  </div>
            </div>`,
        methods: {
            eeekend: function(val){
                    return (val == CALENDAR_STAT_WEEKEND || val == CALENDAR_STAT_HIGHDAY);
            },
            alienday: function(val){
                    return (val == CALENDAR_STAT_ALIENDAY);
            }
        },
        created() {
                //console.log(this.myarr)
                //this.listDay = this.getListDay()
                
            }
    });
        
        function objday(name,date,stat){
            this.date = date;
            this.name = name;
            this.stat = stat;
            this.task = '';
        }
        
        var odjData = {
            curData: new Date(),
            month: 0,
            strmonth: "",
            listDay: {},
            getListDay(){ 
                var weekday, dat, offSet, stat, arr = {};
                
                this.curData.setDate(1);
                this.month = this.curData.getMonth();
                this.strmonth = this.curData.toLocaleString(CALENDAR_LOCALISATION, {month: 'long'}) + " " + this.curData.getFullYear();;
                dat = this.curData.getDay();
                offSet = dat+(CALENDAR_WEEKDAY_EU ? 6 : 0);
                this.curData.setDate(-(offSet > 7 ? offSet - 7 : offSet));
                for(i = 1; i <= 42; i++){
                    this.curData.setDate(this.curData.getDate()+1);
                    dat = this.curData.getDay();
                    
                    stat = (dat == 0 || dat == 6 ? CALENDAR_STAT_WEEKEND : 0);
                    stat = (CALENDAR_HIGHDAY.includes(this.getStrDate(this.curData)) ? CALENDAR_STAT_HIGHDAY : stat);
                    stat = (this.month != this.curData.getMonth() ? CALENDAR_STAT_ALIENDAY : stat);
                    weekday = this.curData.toLocaleString(CALENDAR_LOCALISATION , {weekday: CALENDAR_VIEW_WEEKDAY});
                    if (arr[weekday] == undefined){
                        arr[weekday] = Array();
                    }
                    arr[weekday].push(new objday(this.curData.getDate(), this.curData.getTime(), stat));
                    //arr[weekday][i]=this.curData.getDate();
                }
                for(key in arr) {
                    this.listDay[key]=arr[key];
                };
                //arr.splice(index[, deleteCount, elem1, ..., elemN])
                //this.listDay = arr;
            },
            getStrDate(dat){
                return "" + (dat.getMonth() + 1) + "/" + dat.getDate() + "/" + dat.getFullYear();
            },
            addMonth(offset){
                this.curData.setDate(1);
                this.curData.setMonth(this.month+offset);
                this.getListDay();
            }
        };
        odjData.getListDay();  
        //console.log(odjData.listDay);
        function addMonth(offset){
            odjData.addMonth(offset);
        }
              
        RR = new Vue({
            el: '#calendar',
            data:  function(){
                return {
                    curData: odjData.curData,
                    listday: odjData.listDay,
                    obj: odjData
                };
             },
            methods: {
                month_plus: function(){
                    addMonth(1);
                },
                month_minus: function(){
                    addMonth(-1);
                }
            },
            created() {
                //this.listDay = this.getListDay()
            }
        });
    </script>
</body>
</html>